{% extends 'base.html' %}
{% block content %}

<body>
<h1 style="color:white"> MOVIES </h1>
<div class="Movie_player" style="color:white">
    {% for x in all %}
    <h3 class="text-center mt-2 mb-2">{{x.movie_title }}</h3>


    </video>
    <video width='1000' style="margin-bottom:100px;" controls> <!--video player using html-->
    {% if x.movie_file %}
        <source src="{{x.movie_file.url}}" type="video/mp4"/>
    {% endif %}

    </video>

    {% endfor %}
    <br><br>
</div>
</body>
<script>
    'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make  website faster. .
</script>
<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster

</script>
<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>


</div>
</body>

{% endblock %}
