{% extends 'base.html' %}
{% block title %}{{obj.movie_title}}{% endblock%}
{% block content %}

<body xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<!-- Doing all CSS things here as well-->
<!-- Using edit button to edit the post -->
{% if user.is_authenticated %} <!-- Adding a basic security Hides the link if user in not logged in-->
{% if user.is_superuser %}
<a href="{% url 'POST_EDIT' pk=obj.pk%}" class="Edit_Hover"><i class="far fa-edit fa-4x fa-solid" style="color:lawngreen">
     <span class="Edit_here" style="font-size:50px" >Edit here</span>
</i></a>
{% endif %}
{% if obj.Published_date %}
 Published date : {{ obj.Published_date }}
{% else %}
<a href="{%url 'Post_Publish' pk=obj.pk %}" class="btn btn-outline-info">Publish</a>
{% endif%}

{% endif %}

<h1 style="color:white; margin-bottom:5%; margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px; text-align: center;"> {{ obj.movie_title }} </h1>
<div class="Movie_player" style="color:white">


    <div class="act" style="margin: auto;
    width: 80%;
    border: 3px solid green;
    padding: 10px; text-align: center;">
        <video width='90%' controls> &lt;!&ndash;video player using html&ndash;&gt;
            {% if obj.movie_file %}

            <source src="{{ obj.movie_file.url }}" type="video/mp4"/>
            {% endif %}
        </video>
    </div>
    <div class="container" style="background: rgba(255, 255, 255, 0.05);
    /* background: #fff; */
    padding: 20px;
    font-size: 12px;
    position: relative; width: auto;">
        <div class="thumbu" style="width: 140px;
    height: 210px;
    float: left;
    margin-right: 20px;
    float: unset;">
            {% if obj.Thumbnail %}
            <img class="card-img-top" src="{{obj.Thumbnail.url}}">
            {% endif %}
        </div>
        <h2>Movie Description: {{obj.movie_description }}</h2>
        <h2>Released Date: {{obj.release_date }}</h2>
        <h2>Director Name: {{obj.Director_Name }}</h2>
   </div>
    <hr>
    {% if user.is_authenticated %}
    <a href="{% url 'add_comment_to_post' pk=obj.pk%}" class="btn-btn-secondary" style="
    margin-left:200px;
    font-size: 30px;
    width: 80%;
    border: 3px solid green;
     color:white;">Add Comment</a>
    {% endif %}
    <hr>
    <div style="margin-left:200px; color:red;" >

    {% for comment in obj.comments.all %}
        <hr>
        <div class="date" style="font-size: 15px;">
            {{ comment.Created_date }}
        </div>

        <h3><strong>Commented by: {{ comment.author }}
            {% if user.is_superuser %}
            <a href="{% url 'comment_remove' pk=comment.pk %}" class="btn-btn-danger"><i class="fas fa-trash-alt"></i></a> </strong>
            {% endif %}
        <p>{{ comment.text }}</p>
    </p>
    {% empty %}
         <p style="margin-left:200px">No Comments Yet.....!!!</p>
    {% endfor %}
     </div>





</div>


<script>
    'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.

</script>
<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>
</html>


</body>
<script>
    'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make  website faster. .


</script>
<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster



</script>
<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>


</div>


{% endblock %}
