{% extends 'base.html' %}
{% block content %}
{% if post.Published_date %}
<div class="published_Date" style="color:snow">
    <br><br>
    <video width='1000' controls> <!--video player using html-->
        <source src='/media/movies/{{stuff_for_frontend.videofile}}' type='/movies/mp4'>

    </video>
    <br><br>


    <script>
        'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make  website faster. .

    </script>
    <script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>
    <script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster


    </script>
    <script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>
    </html>
    <h1>{{ post.movie_title}}</h1>
    <p>{{post.movie_description | linebreaksbr}}</p>
    <h2>{{ post.Published_date}}</h2>
</div>

{% endif %}

{% endblock content %}
