<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TITLE BRO</title>
</head>
<body>
<p> HAHAHA</p>
<div>

  {% for x in all %}
        <h3 class="text-center mt-2 mb-2">{{x.Director_Name}}</h3>
        <video class="embed-responsive embed-responsive-16by9" width="1000" controls="controls" >
            <source src="{{x.movie_file.url}}" type="video/mp4" />
          </video>
  {% endfor %}

</div>

</body>
</html>


&lt;!&ndash;{% extends 'base.html' %}
{% block content %}
{% if post.Published_date %}&ndash;&gt;
<div class="published_Date" style="color:snow">
    <br>

        <h3 class="text-center mt-2 mb-2">{{x.Director_Name}}</h3>
        <video width="1000" class="embed-responsive embed-responsive-16by9" controls="controls" >
            <source src="{{x.movie_file.url}}" type="video/mp4" />
        </video>

</div>

{% endif %}

{% endblock content %}

-->
