.page-header{
    background-color: lawngreen;
    padding: 10px 10px 20px 0px;
    margin-top:0;
}
.page-header h1, .page-header h1 a{
    color: white;
    font-size: 50pt;
    text-decoration: none; /* removing underlines while hovering *//
}

.content{
    margin-right = 40px;
    /*background-color: black;*/
}

.homepage{
  /*  background-color: black;*/
    display: flex;
    flex-wrap: wrap;
}

.card{   /* Maintaining gaps between 2 cards */
    width: 30%;
    margin: 1%;
    border-radius: 3px;
    float: left;
    position: relative;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 350px;

    border: 2px solid lawngreen;


     /* it clips the overflow rest of the content remains invisible */
}




.row a:visited{  /* Turns visited link into green (a) is anchor tag used is for links */
    color: lawngreen;
}




.card-img-top {
    width: 100%;
    height: 200px;
    background-attachment: fixed;
    background-position: top right;


}

.Movie_player{
    Margin-bottom:200px;
}
.row{
    background-color: black;
    margin-right: 15px;
    margin-left: 15px;
}


.card-body{
    color:white;
}

.Form_for_EDIT textarea {
     width: 100%
}

.Form_for_EDIT .btn-primary {
    float: right;
}

.med{
    margin-bottom: 25px;
    float:right;
}

#med .Title{
    text-align: right;
}

/** This style is for drafs button*/
.Draft_class{
  float: right;
  position: relative;
  display: inline-block;

}

.Draft_class .Drafts_here {
  visibility: hidden;
  width: 300px;
  background-color: lawngreen;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
  border: solid;
}

.Draft_class .Drafts_here::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.Draft_class:hover .Drafts_here {
  visibility: visible;
}


/* This Hovering is for Add post button*/

.Add_class{
  float: right;
  position: relative;
  display: inline-block;

}

.Add_class .Post_here {
  visibility: hidden;
  width: 300px;
  background-color: lawngreen;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
  border: solid;
}

.Add_class .Post_here::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.Add_class:hover .Post_here {
  visibility: visible;
}

/* Hovering for edit button in detail page */

.Edit_Hover {
  position: relative;
  display: inline-block;
}

.Edit_Hover .Edit_here {
  visibility: hidden;
  width: 300px;
  background-color: lawngreen;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  border: solid;
  border-color: black;
}

.Edit_Hover .Edit_here::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.Edit_Hover:hover .Edit_here {
  visibility: visible;
}

.date{
   color: #828282;
}

/*
Hover for movie title in draft */

.Click_it {
  position: relative;
  display: inline-block;
}

.Click_it .Movietitle_indraft {
  visibility: hidden;
  width: 300px;
  background-color: lawngreen;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  border: solid;
  border-color: black;
}

.Click_it .Movietitle_indraft::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.Click_it:hover .Movietitle_indraft {
  visibility: visible;
}