{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COsentiment</title>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/Movie_MS.css'%}">
    <script src="https://kit.fontawesome.com/6cb2c74aa7.js" crossorigin="anonymous"></script>
</head>

<div class="page-header">
    {% if user.is_authenticated %}
    <h1><a href="{% url 'Post_Draft' %}" class="Draft_class " style="text-align:right; margin: 7px;"><i class="fas fa-pencil-ruler">
        <span class="Drafts_here" style="font-size:50px" >Drafts Here</span>
    </i></a></h1>
    <h1><a href="{% url 'PostV'%}" class="Add_class"><i class="fas fa-plus-circle fa-1x" style="color: white">
        <span class="Post_here" style="font-size:50px" >Post Here</span>
    </i></a></h1>
    {% endif %}

    <h1><a href="/"> COsentiment </a></h1>

</div>
<body style="background-color: black; color: lawngreen;" >
<div class="content_container" style="background-color:black">
{% block content %}

{% endblock %}

</div>


<footer class="page-footer font-small unique-color-white pt-4">

  <!-- Footer Elements -->
  <div class="container w3-teal">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1" style="color: lawngreen">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="/" class="btn btn-outline-info">Sign up!</a>
      </li>
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color:white">© 2020 Copyright:
    <a href="/"> Cosentiment.com</a>
  </div>
  <!-- Copyright -->

</footer>

</body>

</html>