{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/Movie_MS.css'%}">
    <script src="https://kit.fontawesome.com/6cb2c74aa7.js" crossorigin="anonymous"></script>
</head>


<div class="page-header">

    {% if user.is_authenticated %}
    <h1 style="float:right; margin-top: 4px; font-size:40px; position: relative;
  display: inline-block;}"><img src="https://fontmeme.com/permalink/201108/0c2c45b6174aa7bbb1faa04ee4490b42.png" alt="netflix-font" border="0">{{ request.user.username }} </h1>

    {% if user.is_superuser %}
    <h1><a href="{% url 'Post_Draft' %}" class="Draft_class " style="text-align:right; margin: 7px;"><i class="fas fa-pencil-ruler">
        <span class="Drafts_here" style="font-size:50px" >Drafts Here</span>
    </i></a></h1>

    <h1><a href="{% url 'PostV'%}" class="Add_class"><i class="fas fa-plus-circle fa-1x" style="color: white">
        <span class="Post_here" style="font-size:50px" >Post Here</span>
    </i></a></h1>
    {% endif %}

    {% endif %}


    <h1><a href="/"><img src="https://fontmeme.com/permalink/201108/83d3d69dcbf843d5623037e5c02c5329.png" alt="netflix-font" border="0"></a><h1>
<!--    <form class="search-bar" method="get" style="text-align-last: end;" action="{%url 'Show_list'%}">-->
<!--        <input type="text" name="q" type="search"  aria-label="Search" style="width: 200px; height: 50px;">-->
<!--        <button class="btn btn-outline-info" type="submit" style="color:Black; height:50px;">Search</button>-->
<!--    </form>-->
    <form action="{% url 'Show_list' %}" class="form-inline" method="get" style="float: right; margin-top: 20px;">

        <div class="form-group mb-2" >

        </div>
        <div class="form-group mx-sm-3 mb-2">
        <label for="" class="sr-only">search</label>
        <input name="search" type="" class="form-control" id="" placeholder="type for search">
        </div>
      <button type="submit" class="btn btn-primary btn-lg mb-2">search</button>
    </form>
</div>
<body style="background-color: black; color: lawngreen;" >
<div class="content_container" style="background-color:black">
{% block content %}

{% endblock %}

</div>


<footer class="page-footer font-small unique-color-white pt-4 "  >

  <!-- Footer Elements -->
  <div class="container w3-teal">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <h1><li class="list-inline-item">
      {% if request.user.is_authenticated %}
         <a href="{% url 'logout'%}" class="Logout" onclick="return confirm('YOU WILL BE LOGGED OUT !!')"><i class="fas fa-sign-out-alt fa-1x" style="color:white" > </i>
         <span class="Log_out" style="font-size:20px" >LOGOUT</span></a></h1>

      {% else %}
        <h5 class="mb-1" style="color: lawngreen">Register for free</h5>
      </li>

      <li class="list-inline-item">

        <a href="{%url 'Register' %}" class="btn btn-outline-info">Sign up!</a>
        <a href="{%url 'LOGIN' %}" class="btn btn-outline-info">LOGIN</a>
      {% endif %}
      </li>
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color:white">© 2020 Copyright:
    <a href="/"> Cosentiment.com</a>
  </div>
  <!-- Copyright -->

</footer>

</body>

</html>